<!DOCTYPE html>
<html>
<body>
    <h1>Images</h1>
    
    <a href='/logout'><h2>Logout</h2></a>
    <a href='/control'><h2>Control</h2></a>
    <a href='/delete'>
        <button>Delete All</button>
    </a>
    <br>
    <br>
    <p1><%imgFiles.map((ele)=>{%>
        <img loading='lazy' height="400" width="250" src = <%=ele%>>
        
    <%})%></p1>

</body>

</html>

